/*------------ HEADER -----------*/
#burger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    border: none;
    outline: none;
    z-index: 100;
    left: 95%;
}

#burger .bar, #burger:after, #burger:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #255B4D;
    margin: 6px 0px;
    transition: .4s;
}

 #burger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: #E9CECB;
}
#burger.is-active:after{
    transform: rotate(45deg) translate(-9px, -8px);
    background-color: #E9CECB;
} 

#burger.is-active .bar{
    opacity: 0;
}

#mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #255B4D;
    padding-top: 120px;
    transition: .4s;
}

#mobile-nav.is-active{
    left:0;
}

#mobile-nav li{
display: block;
width: 100%;
max-width: 200px;
margin: 0 auto 16px;
text-align: center;
padding: 12px 16px;
background-color: #51a68f;
cursor: pointer;
}

#mobile-nav li a{
    color: #255B4D;
text-decoration: none;
font-size: 20px;
}

#mobile-nav li:hover{
    background-color: #E9CECB;
}

#navbar {
    display: flex;
    margin: 30px;
    display: none;
    align-self: flex-end;
}

@keyframes slidDown {
    from {
        transform: translateX(-);
    }
}

#navbar ul li a {
    font-family: 'Italiana', serif;
    color: #1E1E1E;

}

/* ---- underline ---- */
.navLinks {
    display: inline-block;
    position: relative;
    padding-bottom: 0.25rem;
    z-index: 100;
}

.navLinks::before {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: #255B4D;
    bottom: 0;
    right: 0;
    transition: width 0.25s ease-out;
}

.navLinks:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

#navbar ul li #burger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
}


/*------------ frontend -----------*/
#frontend {
    margin-bottom: 30%;
}

h1 {
    font-size: 36px;
    width: 72%;
    margin-bottom: 10%;
}

h1 span {
    color: #255B4D;
    font-family: 'Italiana', serif;
}

.hero--secondary {
    display: none;
}

/*------------ RESPONSIVE -----------*/

@media screen and (min-width:768px) and (max-width:1023px) {

    /* ---- navbar ---- */
    #burger {
        display: none;
    }

    #navbar {
        margin-right: -2%;
        display: flex;
        flex-direction: row;
        justify-content: end;

    }

    #navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 55%;

    }

    /* ---- frontend --- */

    h1 {
        width: 80%;
        font-size: 60px;
    }

    #banner {
        font-family: 'Jost';
        font-size: 30px;
    }
}

@media screen and (min-width:1024px) {

    #burger {
        display: none;

    }

    /* ---- navbar ---- */
    #navbar {
        margin-top: -5%;
        margin-right: -1%;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    #navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
    }

    #navbar ul li {
        font-size: 20px;
    }

    /* ---- frontend --- */

    #frontend {
        margin-bottom: 15%;
        margin-top: -10px;
    }

    h1 {
        margin-top: 8%;
        font-size: 80px;
        width: 77%;
    }

    .wrapper {
        position: relative;
        margin: 0;
        padding: auto;
    }

    .hero {
        border: #255B4D 1px solid;
        border-radius: 25px;
        min-height: 100vh;
        padding: clamp(1rem, 2vw, 5rem);
        display: flex;
        align-items: center;
        width: 100%;
    }

    .italiana {
        font-family: 'Italiana';
    }

    .green {
        color: #255B4D;
    }

    .pink {
        color: #E9CECB;
    }

    .hero--secondary {
        --mask: radial-gradient(circle at var(--x, 50%) var(--y, 50%), red 25%, transparent 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #255B4D;
        color: #E9CECB;
        -webkit-mask-image: var(--mask);
        mask-image: var(--mask);
    }

    .hero__heading {
        width: 77%;
        font-size: 80px;
        margin: 0;
    }
}